body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(160, 78%, 87%);
}
#calculator{
    border: 2px solid black;
    padding: 10px;
    background-color: hsl(0, 0%, 30%);
    border-radius: 10px;
    box-shadow: 5px 3px;
}
#display{
    margin: 10px;
    padding: 8px 10px;
    font-size: 1.5em;
    border: 1px solid black;
    text-align: right;
    border-radius: 5px;
}
#buttons{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border-radius: 10px;
}
.btn{
    margin: 10px;
    color: white;
    font-size: 1.5em;
    background-color: black;
    width: 50px;
    height: 40px;
    border-radius: 10px;
}
.btn:hover{
    background-color: hsl(0, 0%, 20%);
    font-size: 1.8em;
}
.symbol{
    color: orange;
}
.equal{
    background-color: hsl(39, 100%, 45%);
}
.equal:hover{
    background-color: hsl(39, 100%, 55%);
}